
a:link,a:visited,a:active  {
	font-size: 12px;
	text-decoration: none;
	color: #333333;
}
a:hover {
	color: #BEA12C;
}
a.user:hover {
	color: #3740cac4;
}


.title {
	
	font-size: 12pt;
	color: #000000;
	line-height: 22px;
}

.text,.textarea,.password ,.file,.select{
	font-size: 8pt;
	color: #333333;
}

