<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>게시판</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel=stylesheet href="css/styles.css" type="text/css">
<link rel=stylesheet href="css/board.css" type="text/css">
<script type="text/javascript">
	function boardCreate() {
		location.href = "board_write.jsp";
	}
</script>
</head>
<body bgcolor=#FFFFFF text=#000000 leftmargin=0 topmargin=0
	marginwidth=0 marginheight=0>
	<!-- container start-->
	<div id="container">

		<!-- header start -->
		<div id="header" th:insert="~{include_common_top::include_common_top}">
			<!-- include_common_top.html start-->
			<!-- include_common_top.html end-->
		</div>
		<!-- header end -->

		<!-- navigation start-->
		<div id="navigation"
			th:insert="~{include_common_left::include_common_left}">
			<!-- include_common_left.html start-->
			<!-- include_common_left.html end-->
		</div>
		<!-- navigation end-->
		<!-- wrapper start -->
		<div id="wrapper">
			<!-- content start -->
			<!-- include_content.jsp start-->

			<div id="content"
				th:with="pageSize = ${boardListPage.pageable.pageSize},
					     pageNumber = ${boardListPage.pageable.pageNumber},
					    totalPages = ${boardListPage.totalPages},
					    totalCount=${boardListPage.totalElements},
					    blockSize=${5},
					    currentBlock=${T(java.lang.Math).ceil(boardListPage.pageable.pageNumber/blockSize)+1},
					    blockBeginPage=${(currentBlock-1) * blockSize+1},
					    blockEndPage=(${(blockBeginPage+blockSize-1) > totalPages ? totalPages:(blockBeginPage+blockSize-1)}),
		                prevGroupStartPage = ${T(java.lang.Math).round(blockBeginPage - blockSize)},	
		                nextGroupStartPage = ${T(java.lang.Math).round(blockBeginPage + blockSize)}">
				<table border=0 cellpadding=0 cellspacing=0>
					<tr>
						<td><br />
							<table style="padding-left: 10px" border=0 cellpadding=0
								cellspacing=0>
								<tr>
									<td bgcolor="f4f4f4" height="22">&nbsp;&nbsp; <b>게시판-리스트</b>
									</td>
								</tr>

								<tr bgcolor="#FFFFFF">
									<td height="20" class="t1" align="right" valign="bottom">♠
										총 <font color="#FF0000" th:text="${totalCount}">1707</font> 건
										| 현재페이지( <font color="#FF0000" th:text="${pageNumber+1}">3</font>
										/ <font color="#0000FF" th:text="${totalPages}">171</font> )
									</td>
								</tr>
							</table> <!-- list -->
							<form name="f" method="post" action="">
								<table border="0" cellpadding="0" cellspacing="1" width="590"
									bgcolor="BBBBBB">

									<tr>
										<td width=280 align=center bgcolor="E6ECDE">제목</td>
										<td width=120 align=center bgcolor="E6ECDE">글쓴이</td>
										<td width=120 align=center bgcolor="E6ECDE">글쓴날</td>
										<td width=70 align=center bgcolor="E6ECDE">본횟수</td>
									</tr>
									<tr th:each="board:${boardListPage}">
										<td width=280 bgcolor="ffffff" style="padding-left: 10px"
											align="left"><a
											th:href='@{board_view(boardno=${board.boardno},page=${boardListPage.number+1})}'
											th:text='${board.title}'> 게시판타이틀1688 </a></td>
										<td width=120 align=center bgcolor="ffffff"
											th:text="${board.writer}">김경호1688</td>
										<td width=120 bgcolor="ffffff" style="padding-left: 10px"
											align="center"
											th:text="${#temporals.format(board.regdate, 'yyyy-MM-dd')}">2023-08-18</td>
										<td width=70 align=center bgcolor="ffffff"
											th:text='${board.readcount}'>0</td>
									</tr>
								</table>
								<!-- /list -->
							</form>

							<table border="0" cellpadding="0" cellspacing="1" width="590">
								<tr>
									<td align="center"><a th:if="${pageNumber+1 <= totalPages}" th:href="@{/board_list4(page=${pageNumber+1+1})}" ><img src='image/more3.png' width="25px" height="30px"/></a></td>
								</tr>
							</table> 
							<!-- button -->
						</td>
					</tr>
				</table>
			</div>
			<!-- include_content.jsp end-->
			<!-- content end -->
		</div>
		<!--wrapper end-->
		<div id="footer"
			th:insert="~{include_common_bottom::include_common_bottom}">
			<!-- include_common_bottom.html start-->
			<!-- include_common_bottom.html end-->
		</div>
	</div>
	<!--container end-->
</body>
</html>